STEAM_API_KEY=TU_STEAM_API_KEY
APP_URL=http://localhost:3000
PORT=3000
SESSION_SECRET=tu_secreto_de_sesion

DB_HOST=localhost
DB_PORT=5432
DB_NAME=steamlinker
DB_USER=postgres
DB_PASSWORD=tu_password

JWT_SECRET=tu_secreto_jwt
